.logo img{
    transform: translate(1cm,1cm);
    display: inline-block;
    margin: 0cm;
    padding: 0cm;
    border: 0cm;
    overflow: hidden;
}
.logo{
    text-align: left; 
}

body{
    margin: 0cm;
}
p{
    text-indent: 1.27cm;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 1.5cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}
h1{
    font-family:'Times New Roman', Times, serif;
    margin: 0.5cm;
    padding-left: 1cm;
}
h4{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.877);
    padding-left: 1.5cm;
    padding-top: 0.5cm;
    margin: 0cm;
    text-align: center;
}
.lista{
    margin: 0.5cm;
    padding-left: 2.3cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header_ul{
    list-style-type: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0cm;
    color: white;
    background-color: rgb(245, 79, 79);
    padding: 0.5cm;
    overflow: hidden;
}
.header_li{
    float: right;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
li a:hover{
    background-color: rgb(241, 126, 126);
}
.footer{
    list-style-type: none;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.877);
    padding-top: 0.1cm;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}